*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(50, 243, 24);
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
.contenedor{
background-color: rgba(22, 22, 22, 0.603);
width: 87%;
overflow: hidden;
margin: 10px auto;
padding: 18px;
}

.caja{
    background-color: cornsilk;
    padding: 20px; 
    border:solid rgb(255, 127, 7);
    overflow: hidden; /*bolverlo estatico*/ 
    margin-top: 5px;
    border-radius: 15px;
    background-color: #eee;

    

}

.articulo_1{
 margin-top: 4px;
 width: 40%;
 height: 343px;
 font-size: 20px ; /*tamaño de letra*/
 padding: 10px;
 color: rgb(228, 166, 10);
 border: solid ;
 float: left;
}
.articulo_2{
    margin-top: 4px;
    width: 50%;
    height: 343px;
    padding: 10px;
    font-size: 22px ; /*tamaño de letra*/
    color: rgb(228, 166, 10);
    border: solid;
    float: left;
    margin-left: 10px  ;

   }

.articulo_3{
padding: 4px;
margin: 3px;
padding: 4px;
border-top: black solid 1px;
border-bottom:solid 1px;
}

 #p1{
color:rgb(7, 7, 7);
font-variant-east-asian:proportional-width;
text-shadow: -5px -5px 8px rgba(150, 142, 150, 1);
 }

.titulos{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px ;
    color:rgb(2, 62, 66);
    
 }
  #p2{
    text-shadow: -5px -5px 8px rgba(150, 142, 150, 1);
 }

 #p3{
    text-shadow: -5px -5px 8px rgba(234, 149, 161, 1);
 }
 .mapa{
     
     margin: auto;
 }

 .pop{
    width: 90% ;
    height: 90%;
    background-color: cornsilk; 
    border:solid rgb(90, 212, 19); /*bolverlo estatico*/ 
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position:fixed;
    z-index: 10;
    top: 4%; /*lo que quiere decir ese top es que quite todo el top y me lo coloque al rpincipio*/
    left: 4%;   
    display:flex ;
   flex-direction: row;
   align-items:center;
   justify-content: space-evenly;
 }

 .pop>p{
width: 45%;
padding: 20px;
border-bottom: rgb(252, 92, 0);
background-color: lavender;
 }

 .imgpop{
     width: 25%;

 }
 #chekpop{
    position:fixed;
     z-index: 20;
     top: 0%;
 }
 #chekpop:checked ~.pop{
    display: none;
 }
 #chekpop:checked ~.close{
    display: none;
 }
 #chekpop{
    display: none;
 }
 .close{
    background-color: lavender;
    padding-left:8px ;
    padding-right:8px;
    padding-bottom:4px;
    border-radius: 100%;
    cursor: pointer;
    position:fixed;
     z-index: 20;
     font-weight:bold;
     top: 1.6%;
     left: 93.2%;
     font-size: 30px 
     
     
 }

/*---------                  ----------*/

 @media screen and (max-width:800px) { /*quiere dercir que En pantallas de 800 px o menos, establezco todo lo que tengo denntro del media screen */
    body{
        background-color: rgb(255, 60, 0);
  
    }
    .contenedor{
        background-color: rgba(22, 22, 22, 0.603);
      
    
    }

    .caja{
        background-color: cornsilk;
        padding: 20px; 
        border:solid rgb(255, 127, 7);
        overflow: hidden; /*bolverlo estatico*/ 
        margin-top: 5px;
        border-radius: 15px;
        background-color: #eee;   
    
    }
    .articulo_1{
        margin-top: 4px;
        width: 40%;
        height: 343px;
        font-size: 16px;/*tamaño de letra*/
        padding: 10px;
        color: rgb(228, 166, 10);
        border: solid ;
        float: left;
       }
       .articulo_2{
           margin-top: 4px;
           width: 40%;
           height: 343px;
           padding: 10px;
           font-size: 16px;/*tamaño de letra*/
           color: rgb(228, 166, 10);
           border: solid;
           float: left;
           margin-left: 10px  ;
       
          }
       
       .articulo_3{
       padding: 4px;
       margin: 3px;
       font-size: 16px;
       padding: 4px;
       border-top: black solid 1px;
       border-bottom:solid 1px;
       }

       .titulos{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px ;
        
     }
     .mapa{
        padding: 1px;
        position: relative;
     }
     .mapa iframe{
         position: relative;
         width: 100%;
         height: 100%;
     }
 }
 
/*
_____________________________//_____________________
 
*/
 @media screen and (max-width:583px){
    body{
        background-color: rgb(255, 60, 0);
  
    }
    .contenedor{
        background-color: rgba(22, 22, 22, 0.603);
      
    
    }

    .caja{
        background-color: cornsilk;
        padding: 20px; 
        border:solid rgb(255, 127, 7);
        overflow: hidden; /*bolverlo estatico*/ 
        margin-top: 5px;
        border-radius: 15px;
        background-color: #eee;   
    
    }
    .articulo_1{
        margin-top: 4px;
        width: 40%;
        height: 343px;
        font-size: 11px;/*tamaño de letra*/
        padding: 10px;
        color: rgb(228, 166, 10);
        border: solid ;
        float: left;
       }
       .articulo_2{
           margin-top: 4px;
           width: 40%;
           height: 343px;
           padding: 10px;
           font-size: 11px;/*tamaño de letra*/
           color: rgb(228, 166, 10);
           border: solid;
           float: left;
           margin-left: 10px  ;
       
          }
       
       .articulo_3{
       padding: 4px;
       margin: 3px;
       font-size: 11px;
       padding: 4px;
       border-top: black solid 1px;
       border-bottom:solid 1px;
       }

       .titulos{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px ;
        
     }
     .mapa{
        padding: 1px;
        position: relative;
     }
     .mapa iframe{
         position: relative;
         width: 100%;
         height: 100%;
     }
 }
 /*
_____________________________//_____________________
 
*/
 @media screen and (max-width:460px){
    .caja{
        background-color: cornsilk;
        padding: 20px; 
        border:solid rgb(255, 127, 7); 
        margin-top: 5px;
        border-radius: 15px;
        background-color: #eee;   
    
    }
    .articulo_1{
        margin-top: 4px;
        width: 90%;
        height: 200px;
        font-size: 11px;/*tamaño de letra*/
        padding: 10px;
        color: rgb(228, 166, 10);
        border: solid ;
    
       }
       .articulo_2{
           margin-top: 4px;
           width: 90%;
           height: 200px;
           margin-left: 0px;
           padding: 10px;
           font-size: 11px;/*tamaño de letra*/
           color: rgb(228, 166, 10);
           border: solid;
          
        
       
          }
       
       .articulo_3{
       padding: 4px;
       margin: 3px;
       font-size: 11px;
       padding: 4px;
       border-top: black solid 1px;
       border-bottom:solid 1px;
       }

       .titulos{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px ;
        
     }
     .mapa{
        padding: 1px;
        position: relative;
     }
     .mapa iframe{
         position: relative;
         width: 100%;
         height: 100%;
     }


 }
 